@charset "UTF-8";
* {
  overscroll-behavior: none;
}

h1 {
  margin: 65px auto 70px auto;
  width: 1200px;
  letter-spacing: 25px;
  font-size: 70px;
  font-weight: lighter;
  font-family: "Alegreya Sans SC", sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

.container {
  padding: 70px 0 0 70px;
  height: 100vh;
}

.line #tate {
  position: fixed;
  margin-left: 70px;
  width: 2px;
  /* 縦棒の幅 */
  height: 100%;
  /* 縦棒の長さ */
  background: #000000;
  z-index: 1;
}

.line #yoko {
  position: fixed;
  margin-top: 70px;
  width: 100%;
  /* 横棒の長さ */
  height: 2px;
  /* 横棒の幅 */
  background: #000000;
  z-index: 1;
}

header {
  position: fixed;
  font-size: 17px;
  top: 23px;
  left: 1150px;
  z-index: 1;
}

header a {
  text-decoration: none;
  font-weight: 240;
  margin: 8px;
  color: #0000008a;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header a:hover {
  color: #000000;
}

#profile .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: 0 auto;
}

#profile .top .words {
  width: 600px;
  font-size: 20px;
  font-weight: 280;
  text-align: justify;
  color: #000000;
}

#skill .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

#skill .skills a {
  display: inline-block;
  line-height: 200px;
  text-align: center;
  width: 200px;
  height: 200px;
  font-size: 30px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border: solid 2px black;
  color: #000000;
  font-family: "Alegreya Sans SC", sans-serif;
}

#skill .skills a:hover {
  background-color: #000000;
  color: white;
}

#contact .form_wrapper {
  width: 900px;
  margin: 0 auto;
}

#contact .form_wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact .form_wrapper form .wrap_tbl dl {
  margin: 0 auto;
  padding: 0;
  border: 0;
}

#contact .form_wrapper form .wrap_tbl dl button {
  float: right;
  font-weight: 100;
  padding: 0 8px;
  background-color: white;
  border: 0 solid white;
  border-bottom: 1px solid #000000;
  line-height: 33px;
}

#contact .form_wrapper form .wrap_tbl dl dt {
  float: left;
  font-weight: 100;
}

#contact .form_wrapper form .wrap_tbl dl dd {
  margin-left: 100px;
}

#contact .form_wrapper form .wrap_tbl dl dd .ex {
  font-size: 11px;
  font-weight: 100;
}

#contact .form_wrapper form .wrap_tbl dl dd input {
  height: 42px;
  width: 580px;
  padding: 6px 10px;
  font-size: 14px;
  border: 1 solid black;
}

#contact .form_wrapper form .wrap_tbl dl dd textarea {
  font-size: 14px;
  padding: 6px 10px;
  border: 1 solid black;
  color: black;
  display: block;
  margin: 0;
  width: 580px;
}
/*# sourceMappingURL=style.css.map */